.HeaderContainer {
background:black;
}

.AboutContainer {
background:black;
}

.SkillContainer {
background:black;
}


@keyframes typing {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  60% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes blink {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation:
    typing 7s steps(40, end) infinite,
    blink 0.7s step-end infinite;
  width: 0;
}



.skill-bar {
  width: 0;
  animation: growBar 2s forwards;
}

@keyframes growBar {
  to {
    width: var(--bar-width);
  }
}
